body,p,a,td {
	font-size:12px;
}


.navbar-inverse .navbar-inner {
	border-radius:0;
}

.tools {
	margin:10px 0;
	text-align:right;
}
table.table-condensed {
	tr {
		td {
			padding:2px;
			a {
				color:#333;
			}
		}
	}
}

