{% block styles %}

{% endblock styles %}

{% block body %}
<table >
  <tr>
      <td><img src="{{dir}}/web/bundles/caravaneorganic/images/logo.png" />
        <br/>
        {% block reference %}
        {% endblock reference %}
      </td>
      <td></td>
  </tr>
</table>
{% endblock body %}
