{% extends "CaravaneCmsBundle::layout.html.twig" %}

{% block content %}
<div  id="content" class="col3">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock content %}
